{% extends 'usuarios/base.html' %}

{% block content %}
<h1>Sobre Mí</h1>
<p>Hola, soy Romina.</p>
<p>Soy estudiantes del curso de Python, me gusto este curso como manera de sumar habilidades</p>

<p>Conocimientos</p>
<p>Licenciada en administracion de empresas</p>
<p>Contadora publica nacional</p>
<p>Este proyecto fue creado como parte de entrega final del curso de referencia.</p>
<p>El proyecto se baja en una pagina a la cual se le puede cargar, actualizar y eliminar cursos; ademas gestiona usuarios como tambien no permite navegar sin autenticarse.</p>
{% endblock %}